body
{
	margin-left:auto;
	margin-right:auto;
	width:720px;
}

aside 
{
	position:float;
	float:right;
	width:245px;
}

article
{
	width:475px;
	position:float;
	float:left;
}

footer
{
	clear:both;
}