article
{
text-align: center;
background-color: orange;
width: 400px;
padding-bottom: 50px;
}

section
{
background-color: red;
border-bottom: 15px solid #FDD017;
width: 400px;
margin-top: 15px;
padding-bottom: 35px;
padding-top: 20px;
}

aside
{
background-color: teal;
text-align: center;
width: 200px;
padding-bottom: 100px;
}

footer
{
width: 600px;
text-align: center;
background-color: green;
padding-bottom: 15px;
}

#container {
    float: right;
    width: 600px;
    margin-right: 5%;
    margin-top: 20px;
    height: 19px;
}

