body 
{
    width:900px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
}

nav 
{
    background-color: gray;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    text-align: center;
}

div.SideNav
{
    width: 200px;
    float: left;
    padding: 20px 20px 20px 20px;
}


div.Middle
{
    width: 600px;
    float: left;
}
    

#Menu1
{
    margin-right: auto;
    margin-left: auto;
}

li 
{
    padding-left: 20px;
    padding-right: 20px;
}

h1
{
    text-align: center;
}

a.level1: hover, a.level2:hover, a.level3:hover
{
    background-color: Blue;
}